@import '@/styles/colors';

.backdrop {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;

  &.show {
    animation: fade-in 500ms forwards;
    z-index: 90;
  }
  &.hide {
    animation: fade-out 1s forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    z-index: 90;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    z-index: -90;
  }
}
