@import '@/styles/colors';

.backdrop {
  display: none;

  &.desktop {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: 50%;
    z-index: 90;

    &.show {
      display: block;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  background-color: $black;
  z-index: 100;

  &.show {
    display: block;
  }

  &.mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.desktop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73rem;
    height: 44rem;
    min-width: 73rem;
    min-height: 44rem;
  }
}
