@import '@/styles/colors';

.frame {
  position: relative;
  padding-bottom: 52.6%;
  border-radius: 4px;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  &.desktop {
    padding-bottom: 66.36%;
  }
}
