.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .list {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem 5rem;
    gap: 2.4rem;
  }

  &.desktop {
    .list {
      padding: 0;
    }
  }
}
