@import '@/styles/colors';

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10rem;

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .featured-movie-wrapper {
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      padding: 0 3.2rem 10rem;
      justify-content: flex-end;
    }
  }

  &.desktop {
    max-height: 100vh;
    padding: 10rem 10% 0;

    .main-content {
      flex: 1;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5rem;
      overflow-y: hidden;

      .featured-movie-wrapper {
        min-height: 0;
        flex: 11;
        padding: 0 0 10rem;
        overflow-x: hidden;
        position: relative;
        left: -500rem;
        transition: left 1s;

        &.show {
          left: 0;
        }
      }

      .movies-list-wrapper {
        flex: 3;

        & > :first-child {
          position: relative;
          top: 200rem;
          transition: top 1s;
        }

        &.show {
          & > :first-child {
            top: 0;
          }
        }
      }
    }
  }
}
