@import '@/styles/colors';

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;

  .title-block {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  .buttons-block {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &.desktop {
    top: -10rem;
    left: 10%;
    right: 10%;
    height: 10rem;
    transition: top 1s;

    &.show {
      top: 0;
    }
  }
}
